
  /* body {
    background-color: #a1738f;
  }
  .card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  .card-img-top {
    border-radius: 15px;
    object-fit: cover;
    height: 200px;
  } */